<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:method="http://www.w3.org/1999/xhtml"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Slothius</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
	<div class="container">
		<h1>SLOTHIUS</h1>
		<p>Hello, my name is Masaki Nakamura, and i'm a Tokyo based developer</p>
		<p><span class="text-info">email:</span> janakamura@gmail.com</p>
		<p><span class="text-info">github:</span> https://github.com/gitpushforce</p>
		
		<p class="text-danger">"this site is under construction"</p>
	</div>
</body>
</html>